@model IEnumerable<MealManagementSoftwareDataLayer.DishOrder>

@{
    ViewData["Title"] = "Orders";
}

<h1>Available orders</h1>
<div id="style-7" class="scrollbar">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderReference)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    Student Name
                </th>
                <th>
                    Student Rollnumber
                </th>
                <th>
                    Is Paid
                </th>
                <th>
                    View detail
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderReference)
                    </td>
                    <td>
                        £ @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserProfile.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserProfile.RollNumber)
                    </td>
                    <td>
                        @(item.Payments != null && item.Payments.Any() ?"Yes":"No")
                    </td>
                    <td>
                        <a href="/OrderItems/Index/@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    <div class="text-center">
        <a class="btn btn-default" href="/home">Go to Home</a>
    </div>
